<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>指導員（新規登録）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part"
<tr>
  <td style="text-align:right;">
    <%= link_to '一覧表示', staffs_path %>
  </td>
</tr>
</TABLE>
<%= render(:partial => "staff", :object => @staff ) %>