<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>保護者（編集）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part">
<tr>
  <td style="text-align:right; ">
    <%= link_to '一覧表示', guardians_path %>
  </td>
</tr>
</TABLE>

<%= render(:partial => "shared/guardian",
             :object => @guardian) %>