<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>指導記録（編集）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part">
<tr>
  <td style="text-align:right; ">
    <%= link_to '一覧表示', shidou_recs_path %>｜
    <%= link_to '新規登録', new_shidou_rec_path %>｜
    <%= link_to '削 除', @shidou_rec, :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>
</TABLE>

<!-- EDIT -->
   <%= render(:partial => "shared/shidou_rec", 
              :object => @shidou_rec) %>

<!-- INDEX -->