<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>指導記録（登録）</td>
  </tr>  
</TABLE>

<table ID="menu2" CLASS="part">
<tr>
  <td style="text-align:right; ">
    <%= link_to '一覧表示', shidou_recs_path %>
  </td>
</tr>
</table>

<!-- NEW -->
<%= render(:partial => "shared/shidou_rec", 
            :object => @shidou_rec) %>

<!-- INDEX -->