<h2>児童ｽﾀｯﾌ関係</h2><hr>

<p>
  <b>Boy:</b>
  <%=h @rel.boy_id %>
</p>

<p>
  <b>Staff:</b>
  <%=h @rel.staff_id %>
</p>

<hr>
<%= link_to 'Edit', edit_rel_path(@rel) %> |
<%= link_to 'Back', rels_path %>
