<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td> 面会・外出・外泊（登録）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part">
  <tr>
    <td style = "text-align:right;">
      <%= link_to '一覧表示', stay_out_recs_path %>
    </td>
  </tr>
</TABLE>

<!-- NEW -->
<%= render(:partial => "shared/stay_out_rec", 
           :object => @stay_out_rec) %>

<!-- INDEX -->
<div ID="StayOutRecaPart">
  <%= render(:partial => "shared/stay_out_recs", 
             :object => @stay_out_recs) %>
</div>