<!-- ナビゲーションメニュー -->

<ul id="sample-menu-4" class="sf-menu sf-navbar">
	<li>
		<a class="sf-with-ul" href="#">記録
			<span class="sf-sub-indicator"> &#187;</span>
		</a>
		<ul>
			<li><a href="#">業務日誌</a></li>
			<li><a href="#">グループ日誌</a></li>
			<li><a href="#">指導記録1c</a></li>
			<li><a href="#">学校記録</a></li>
			<li><a href="#">医療記録1c</a></li>
			<li><a href="#">外泊・面会記録</a></li>			
		</ul>
	</li>
	<li class="current">
		<a class="sf-with-ul" href="#">menu item-02
			<span class="sf-sub-indicator"> &#187;</span>
		</a>
		<ul>
			<li>
				<a class="sf-with-ul" href="#">
				        subitem 2a
					<span class="sf-sub-indicator"> &#187;</span>
			        </a>
				<ul>
					<li><a href="#">menu item</a></li>
					<li><a href="#aba">menu item</a></li>
					<li><a href="#abb">menu item</a></li>
					<li><a href="#abc">menu item</a></li>
					<li><a href="#abd">menu item</a></li>
				</ul>
			</li>
			<li class="current">
				<a class="sf-with-ul" href="#">
					path to current
					<span class="sf-sub-indicator"> &#187;</span>
				</a>
				<ul>
					<li><a href="#">menu item</a></li>
					<li><a href="#aba">menu item</a></li>
					<li><a href="#abb">menu item</a></li>
					<li class="current"><a href="#abc">current page</a></li>
					<li><a href="#abd">menu item</a></li>
				</ul>
			</li>
			<li>
				<a class="sf-with-ul" href="#">
					subitem 2c
					<span class="sf-sub-indicator"> &#187;</span>
				</a>

				<ul>
					<li><a href="#">menu item</a></li>
					<li><a href="#aba">menu item</a></li>
					<li><a href="#abb">menu item</a></li>
					<li><a href="#abc">menu item</a></li>
					<li><a href="#abd">menu item</a></li>
				</ul>
			</li>

		</ul>
	</li>
	<li>
		<a class="sf-with-ul" href="#">menu item-03
			<span class="sf-sub-indicator"> &#187;</span>
		</a>
		<ul>
			<li>
				<a href="#">
					if no subitems, duplicate parent item href 
					and use this as descriptive label
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a class="sf-with-ul" href="#">menu item-04
			<span class="sf-sub-indicator"> &#187;</span>
		</a>
		<ul>
			<li><a href="#">subitem 4a</a></li>
			<li><a href="#">subitem 4b</a></li>
			<li><a href="#">subitem 4c</a></li>
			<li><a href="#">subitem 4d</a></li>
		</ul>
	</li>
	<li>
		<a class="sf-with-ul" href="#">menu item-05
			<span class="sf-sub-indicator"> &#187;</span>
		</a>
		<ul>
			<li><a href="#">subitem 5a</a></li>
			<li><a href="#">subitem 5b</a></li>
			<li><a href="#">subitem 5c</a></li>
			<li><a href="#">subitem 5d</a></li>
		</ul>
	</li>
	
</ul>