<p>
  <b>Boy:</b>
  <%=h @jido_grp_rel.boy_id %>
</p>

<p>
  <b>Grp:</b>
  <%=h @jido_grp_rel.group_id %>
</p>


<%= link_to 'Edit', edit_jido_grp_rel_path(@jido_grp_rel) %> |
<%= link_to 'Back', jido_grp_rels_path %>
