<TABLE ID="TITLE" CLASS="fix">
  <tr>
    <td>医療･健康記録（編集）</td>
  </tr>  
</TABLE>

<TABLE ID="menu2" CLASS="part">
<tr>
  <td style="text-align:right; ">
    <%= link_to '一　覧', med_recs_path %>
  </td>
</tr>
</TABLE>

<!-- ADDED BELW LINES(200.07.10)PARTIAL "school_rec(singular)" CREATED -->
<%= render(:partial => "shared/med_rec",
           :object => @med_rec) %>