<TABLE ID="menu2" CLASS = "part">
<tr>
  <td>
    <%#= render(:partial => 'form' ) -%>
    <%= render(:partial => 'shared/form' ) -%>
  </td>
</tr>
<!-- ■■tabs to switch recs■■ -->
<tr>
  <td>
    <div ID="selector">
      上の選択条件を設定して選択ボタンをクリック
    </div>
  </td>
</tr>
</TABLE>